@model Project
@{
    ViewData["Title"] = "Edit Project";
}

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Project</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Status"></label>
            <input asp-for="Status" class="form-control" placeholder="1 - Not started, 2 - Active, 3 - Completed" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Priority"></label>
            <input asp-for="Priority" class="form-control" placeholder="from 1 (min) to 100 (max)" />
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Project" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts
{
@{
    <partial name="_ValidationScriptsPartial" />
}
}