@model Project
@{
    ViewData["Title"] = "Delete Project";
}

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Project</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Status"></label>
            <input asp-for="Status" disabled class="form-control"
                placeholder="1 - Not started, 2 - Active, 3 - Completed" />
        </div>
        <div class="mb-3">
            <label asp-for="Priority"></label>
            <input asp-for="Priority" disabled class="form-control" placeholder="from 1 (min) to 100 (max)" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Project" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts
{
@{
    <partial name="_ValidationScriptsPartial" />
}
}